@mixin custom-transition($value){
  -moz-transition:    $value;
  -o-transition:      $value;
  -webkit-transition: $value;
  transition:         $value;
}


@mixin custom-transform($value){
  -moz-transform: scale($value);
  -o-transform: scale($value);
  -webkit-transform: scale($value);
  transform: scale($value);
}

@mixin roundCorner($value){
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin shadows($val) {
  box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  -moz-box-shadow: 10px 10px 5px #888888;
  -o-box-shadow: 10px 10px 5px #888888;
}