#nav-bar {
	@extend .flex-section;
	
	height: $nav-height; 
	background-color: $dark-gray;
	z-index: 10;

	div {
		position: absolute;
		left: $margin-n;
	}

	nav {
		position: absolute;
		right: $margin-n;
	}

	nav ul {
		list-style-type: none;
	}

	nav ul li a {
		color: $white;
		padding-left: $margin-s;
	}

	nav ul li.user-function {
		display: none;
	}


	/* #closeLogin {
		display: none;
	}
	
	#linkLogout {
		display: none;
	} */

}








.box {
	@extend .flex-section;
	width:33%;
	height:130px;



}

