@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:100,100i');

/* COLORS */
$white: #fff;
$purple: #8C3474;
$teal: #4E9E93;
$green: #86B954;
$gray: #6A6365;
$dark-gray: darken($gray, 25);

/* STYLE SYSTEM */
$golden-r: 100vw / 3; /* golden-ratio */
$margin-g: 60px; /* giant margin */
$margin-b: 45px; /* big margin */
$margin-n: 30px; /* normal margin */
$margin-s: 15px; /* small margin */
$margin-t: 7px;  /* tiny margin */
$nav-height: 110px; /* nav height - set height */
$grid-sys: 1080px; /* based after the classic 960 grid system */
$btn-dim: 60px; /* dimensions of btns */

$font-display: 'Roboto Mono', sans-serif;
$font-paragraph: 'Roboto', sans-serif;


$shadow: 2px 3px 5px 0px $dark-gray;
$shadow-inset: 1px 2px 3px 0px $dark-gray inset;
