@import '_variables.scss';

#partners-container {
  @extend .navigation-container;
}

#wdw-list-partners, #wdw-edit-partner, #wdw-add-partner{
  @extend .flex-section-column;
  background-color: deepskyblue;
}

.partner-input-fields{
  width: 100%;
  text-align: center;
  margin: 10px;
}

.title-partners{
  text-align: center;
}

.btn-container{
  text-align: center;
  margin: 10px;
}

#partner-save-btn, #cancel-btn{
  display: inline-block;
  width:auto;
  margin-left: 10px;
}


#partner-add-now-btn, #cancel-btn2{
  width:auto;
  margin-left: 10px;
}

#partners-table{
  text-align: center;
}

#add-partner-btn{
  width:auto;
  margin: 10px;
}

.partners-form-container, #partners-table{
  margin-top: 30px;
}

#wdw-list-partners-headline, #wdw-edit-partner-headline, #wdw-add-partner-headline {
  @extend .section-heading;
}

.image-tag{
  width:  300px;
  height: 200px;
}

#img-displayed{
  width:  100px;
  height: 70px;

}

.loading{
  display: none;
}

.upload-btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.file-input{
  display: flex;
  flex-direction:column;
  width: auto;
  background-color: $white;
  font-weight: bold;
}

.submit{
  display: flex;
  float: left;
  flex-direction:column;
  height: 30px;
  padding: 5px;
  background-color: $gray;
  color: $white;
}

.submit:hover{
  cursor: pointer;
}

::-webkit-file-upload-button {
  cursor:pointer;
  background-color: $gray !important;
  color: $white !important;
}
