#wdw-events {
	@extend .navigation-container;

	#event-listing {
		@extend .flex-section;
		height: auto;
	}

	.event {
		@extend .flex-child;
		height: calc( (100vh - #{$nav-height}) / 2 ) ;
		width: 100%;
		/* Put in a mixin? */
		-moz-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		background-image: url("http://hydroviz.fr/home/jpy/apps/concours_pesticides/app/static/images/logo_js.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	.event:hover {
		z-index: 50;
		box-shadow: 0px 5px 10px $gray;

		/* Put in a mixin? */
		-moz-transform:scale(1.1); 
		-webkit-transform: scale(1.1);
		transform:  scale(1.1);
	}

	.event-thirds {
		@extend .event;
		width: 33.33%;
	}

	.event-halves {
		@extend .event;
		width: 50%;
	}

	.event-thirds:hover, .event-halves:hover {
		@extend .event:hover;
	}

	.event-thirds div, .event-halves div, .event div {
		@extend .flex-child;
		position: relative;
		width: 100%;
		flex-direction: column;
		text-align: center;
	}

	.event-thirds div h5, .event-halves div h5, .event div h5 {
		margin-top: $margin-t;
	}
}

/* Media Queries */
@media screen and (max-width: 960px)  {
	.event-thirds, .event-halves {
		min-width: 50%;
		max-width: 100%;
	}
}

@media screen and (max-width: 700px) {
	.event-thirds, .event-halves, .event {
		width: 100%;
	}
}

@media screen and (max-height: 500px) {
	.event-thirds, .event-halves, .event {
		height: 275px;
	}
}

/*	NOTES:
	- This component will need a width media query and a height media query! 
*/
