#wdw-events {
	@extend .flex-section;

	min-height: calc(100vh - #{$nav-height});

	.event {
		@extend .flex-child;
		height: calc( (100vh - #{$nav-height}) / 2 ) ;
	}

	.event:nth-child(even) { background-color: orange; /* TEMP */ }

	.event-thirds {
		@extend .event;
		width: 33.33%;

		/* Put in a mixin? */
		-moz-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.event-thirds:hover {
		/* Put in a mixin? */
		-moz-transform:scale(1.1); 
		-webkit-transform: scale(1.1);
		transform:  scale(1.1);
		opacity: 0.5;
	}

	.event-thirds div {
		@extend .flex-child;
		width: 100%;
		flex-direction: column;
	}

	.event-thirds div .hover-hide { visibility: hidden; }

	.event-thirds:hover div .hover-hide {
		/* Put in a mixin? */
		-moz-transform:scale(1.1); 
		-webkit-transform: scale(1.1);
		transform:  scale(1.1);
		visibility: visible;
	}

	.event-thirds .admin-features {
		
	}

}

/*	NOTES:
	- This component will need a width media query and a height media query! 
*/
