#partners-container {
  @extend .navigation-container;
}

#wdw-list-partners, #wdw-edit-partner, #wdw-add-partner{
  @extend .flex-section-column;
  background-color: deepskyblue;
}

.partner-input-fields{
  width: 100%;
  text-align: center;
  margin: 10px;
}

.title-partners{
  text-align: center;
}

.btn-container{
  text-align: center;
  margin: 10px;
}

#partner-save-btn, #cancel-btn{
  display: inline-block;
  width:auto;
  margin-left: 10px;
}


#partner-add-now-btn, #cancel-btn2{
  width:auto;
  margin-left: 10px;
}

#partners-table{
  text-align: center;
}

#add-partner-btn{
  width:auto;
  margin: 10px;
}

.partners-form-container, #partners-table{
  margin-top: 30px;
}

#wdw-list-partners-headline, #wdw-edit-partner-headline, #wdw-add-partner-headline {
  @extend .section-heading;
}
